.main-box {
    width: 100%;
    height: 500px;
}

.indent {
    text-indent: 5%;
}
.grey {
    color: grey;
}

.background {
    background-image: url("../images/background.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
}
.logo {
    height: 75px;
    width: 75px;
    display: inline-block;
    vertical-align: top;
}
.display-2 {
    display: inline-block;
    vertical-align: top;
}

.nav-color{
    background: rgb(255,119,0);
    background: linear-gradient(0deg, rgba(255,119,0,1) 0%, rgba(255,174,0,1) 50%);
}

body {
    background-color: #6aa5fa
}

.hand {
    width: 200px;
    height: auto;
}

.landing-bg{
    background-image: url("../images/landing_page.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
}
/* #header {
    background-image: url("../images/pencils.jpg");
    width: 100%;
    height: 100%

} */

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/* body {
    padding-top: 50px;
    padding-bottom: 20px;
} */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
